/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/ADreserva.jpg");
}

.container {
    width: 130%;
    height: 100%;
    margin: 45px;
    padding: 10px;
    background-color: #ffffff1f;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* Margen de 2px a cada lado del rectángulo */
    margin-left: -9px;
    margin-right: 10px;
    justify-content: center;
}

h1 {
    text-align: center;
    font-weight: bold;

}

h2 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;

}

label {
    font-weight: bold;
    text-align: center;
}

.bus {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;

}

.search-form {
    display: flex;
    justify-content: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    background-color: #7bffd16e;
    margin: 60px auto;

}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

th {
    background-color: #20930050;
}

tr:hover {
    background-color: #f5f5f5;
}

form {
    display: flex;
    text-align: center;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[type="email"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[type="number"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[type="date"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    display: inline-block;
    background-color: #ddd;
    border: 2px solid #f7d08f;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;

}

.button-container {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    margin-top: 10px; /* Espacio arriba de los botones */
}

button:hover {
    background-color: #f7d08f;
}

/* Estilos personalizados para el scrollbar */
  body::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(23, 123, 63, 0.397);
    border-radius: 8px; /* Bordes redondeados del thumb */
  }
  
  body::-webkit-scrollbar-track {
    background-color: #9095527e; /* Color del track del scrollbar */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); /* Sombra del track */
  }