<!DOCTYPE html>
<html>

<head>
    <title>Reservaciones de Cabañas</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/inicio.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <header>

        <!-- Cabecera Izquierda (o Logo) si existe, si no, header center -->
        <!-- Movil Icon -->
        <div class="menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>

        <div class="header-right" id="headerRight">

            <a href="/inicio/">
                <h2>Inicio</h2>
            </a>

            <a href="/reservar/" style="margin-left: 20px; margin-right: 20px; text-align: center;">
                <h2>Reservar</h2>
            </a>

            <a href="/acceso-login">
                <h2>Admin</h2>
            </a>

        </div>

    </header>

    <section id="inicio">
        <div class="hero-image">
            <h2>Bienvenido a nuestras cabañas de ensueño..</h2>
            <p>"Cabañas El Despertar: Un refugio mágico donde la naturaleza despierta tus sentidos.
                Vive momentos de serenidad y encanto en nuestras acogedoras cabañas. Respira el aire puro de nuestros
                bosques,
                siente el murmullo del arroyo y déjate envolver por la paz que solo aquí encontrarás.
                Descubre un lugar donde cada despertar es un regalo, donde los amaneceres son mágicos y las vistas
                te roban el aliento. Sumérgete en la calidez de nuestras comodidades, donde cada detalle ha sido cuidado
                con amor. En Cabañas El Despertar, el paraíso te espera para crear recuerdos inolvidables.
                ¡Despierta tus sentidos y vive una experiencia única en la naturaleza!"</p>
            <a href="/reservar/" class="btn">Reservar ahora</a>
        </div>
    </section>

    <section id="reservar">
        <h2>Reservar Cabañas...</h2>
        <div class="cabanas-container">
            <div class="cabana-card">
                <img src="../static/img/golosa.jpg" alt="Cabaña 1">
                <div class="cabana-details">
                    <h3>Golosa</h3>
                    <p>No te gustará salir de ella por un buen Rato!… Te lo digo por experiencia.</p>
                    <a href="/reservar/" class="btn">Reservar</a>
                </div>
            </div>

            <div class="cabana-card">
                <img src="../static/img/consentida.jpg" alt="Cabaña 2">
                <div class="cabana-details">
                    <h3>Consentida</h3>
                    <p>Déjate consentir con el canto de los jilgueros y de vez en cuando con un rose de neblina que te
                        envolvera y sentirás paz y tranquilidad.</p>

                    <a href="/reservar/" class="btn">Reservar</a>
                </div>
            </div>

            <div class="cabana-card">
                <img src="../static/img/bonita.jpg" alt="Cabaña 3">
                <div class="cabana-details">
                    <h3>Bonita</h3>
                    <p>Su nombre lo dice todo! Su chimenea te encantará y te hará volver mas pronto de lo que crees.</p>

                    <a href="/reservar/" class="btn">Reservar</a>
                </div>
            </div>

            <!-- Agrega más tarjetas de cabañas-->
        </div>
    </section>
    <!-- Formulario de admin -->>


    <footer>
        <p>Derechos de autor Cabañas el Despertar &copy; 2023 - Reservaciones de Cabañas el Despertar.</p>
    </footer>

    <script src="../static/js/script.js"></script>
</body>

</html>